<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leagues</title>
</head>
<body>
    <h1>Esports Leagues</h1>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Slug</th>
                <th>Name</th>
                <th>Region</th>
            </tr>
        </thead>
        <tbody>
            {% for league in leagues %}
            <tr>
                <td>{{ league.id }}</td>
                <td>{{ league.slug }}</td>
                <td>{{ league.name }}</td>
                <td>{{ league.region }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <h1>Sample Tournaments</h1>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Slug</th>
                <th>Start</th>
                <th>End</th>
            </tr>
        </thead>
        <tbody>
            {% for tournament in tournaments %}
            <tr>
                <td>{{ tournament.id }}</td>
                <td>{{ tournament.slug }}</td>
                <td>{{ tournament.startDate }}</td>
                <td>{{ tournament.endDate }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <h1>Schedule</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Updated</th>
                <th>Events</th>
                <th>Pages</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ schedule.updated }}</td>
                <td>
                    {% for event in events %}
                    <table border="2">
                        <thead>

                        </thead>
                    </table>
                    {% endfor %}
                </td>
                <td>{{ schedule.pages }}</td>
            </tr>
        </tbody>
    </table>
</body>
</html>
